/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

/* Variables */
:root {
  /* Primary Colors */
  --primary-color-1: #8b63b6; /* Medium Purple */
  --primary-color-2: #c17fd9; /* Lavender Pink */

  /* Secondary Colors */
  --secondary-color-1: #e9d0fe; /* Baby Blue */
  --secondary-color-2: #cae6ff; /* Powder Blue */
  --warning-color-1: #dd75ff;
  --highlight-color: #ff00f2;

  /* Neutral Colors */
  --neutral-color-1: #ffffff; /* White */
  --neutral-color-2: #ebebeb; /* Ghost White */
  --neutral-color-3: #333333; /* Dark Gray */

  /* Semantic Colors */
  --card-color: var(--secondary-color-1); /* Lavender Pink */
  --container-color: var(--secondary-color-2); /* Powder Blue */
  --button-color: var(--primary-color-2); /* Lavender Pink */
  --button-hover-color: #a97fc1; /* Darker Lavender Pink */

  /* Typography Colors */
  --heading-color: var(--neutral-color-3); /* Dark Gray */
  --body-text-color: var(--neutral-color-3); /* Dark Gray */
}

body {
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-color-2);
  font-family: verdana;
  justify-content: space-between;
  /* padding: 0.5em; */
}
h1 {
  font-weight: bold;
}
h2 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
hr {
  width: 100%;
}
p {
  margin-bottom: 0.5em;
}
.instructions-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--primary-color-2);
  margin-bottom: 1.5em;
  width: 100%;
}
.instructions-content {
  background-color: var(--secondary-color-2);
  padding: 0.5em;
  padding-top: 1.1em;
  padding-right: 1.1em;
  padding-bottom: 1.1em;
}
.instructions-header-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color-1);
  font-size: 1.8em;
  padding: 0.3em;
  color: var(--neutral-color-2);
}
.instruction-item {
  display: flex;
}
.bullet {
  margin-right: 0.5em;
  align-self: center;
  font-size: 0.7em;
}
.instruction-toggle-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.3em;
  /* color: var(--neutral-color-2); */
  background-color: var(--secondary-color-1);
  font-weight: bold;
  padding-right: 2em;
}
.instructions-toggle-button {
  width: fit-content;
  display: flex;
  cursor: pointer;
}
.instructions-toggle-button:hover {
  color: var(--highlight-color);
}
.instructions-toggle-icon {
  margin-left: 0.2em;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-1);
  color: var(--neutral-color-2);
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.header-container h3 {
  margin: 0;
  font-size: 1.2rem;
}
.dashboard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
}
.dashboard:hover {
  color: var(--highlight-color);
}
.buttons-container {
  justify-content: center;
  font-size: 3em;
}
#start-button {
  font-size: 3em;
  padding: 0.2em;
}
button {
  cursor: pointer;
  background-color: rgb(217, 233, 251);
  border: 1px solid gray;
  border-radius: 7px;
  width: 47%;
  height: 3.7em;
  margin: 0.3em;
}
button:hover {
  background-color: rgb(206, 230, 255);
}
.card-header-button {
  cursor: pointer;
  color: var(--secondary-color-2);
  font-size: 1.3em;
}
.card-header-button:hover {
  color: var(--highlight-color);
}
ol {
  list-style-type: decimal !important;
  margin: 1em;
  margin-top: 0.5em;
}
li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* display: block; */
  cursor: pointer;
}
.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
footer {
  color: var(--neutral-color-3);
  display: flex;
  /* line-height: 7em; */
  flex-direction: column;
  padding: 0.5em;
  padding-right: 1em;
  height: fit-content;
  background-color: var(--secondary-color-1);
  margin-top: auto;
  align-items: flex-end;
  max-width: 600px;
}
.listed-value {
  margin-right: 1.5em;
}
.add-modal-button-box {
  display: flex;
}
.highlight-text {
  text-decoration: underline;
  color: var(--highlight-color);
}
.counter-container {
  display: flex;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
.card-container,
.sorted-container {
  margin-bottom: 2em;
  padding: 0.7em;
}
.add-card-modal-content {
  padding: 0.5em;
}
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.input-container input {
  width: 210px;
}
textarea {
  width: 210px;
  max-width: 100%;
}
.card {
  max-width: 22em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-color);
  /* padding: 1em; */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.card-content {
  padding: 0.8em;
}
#card-header {
  font-size: 1.8em;
  align-self: center;
  margin-bottom: 0.3em;
}

#card-description {
  align-self: center;
  margin-bottom: 0.3em;
  height: 3em;
}
.choice-buttons-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 75%; */
}
.navigation-buttons-container {
  display: flex;
  justify-content: space-around;
  /* margin-top: 2em; */
  display: flex;
}
.scroll-button {
  cursor: pointer;
  font-size: 1.2em;
}
.scroll-button:hover {
  color: var(--highlight-color);
}
.validation-text {
  color: var(--highlight-color);
}
.buttons-container {
  display: flex;
}
.sorted-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  margin-bottom: 4em;
  justify-content: center;
  /* align-items: center; */
}
.result-container {
  width: fit-content;
  height: fit-content;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color-1);
  /* padding: 1em; */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.reset-modal-container {
  padding: 0.5em;
  padding-top: 4em;
  background-color: rgba(0, 0, 0, 0.578);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reset-modal-box {
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 1em;
  background-color: var(--warning-color-1);
}
.hidden {
  display: none;
}
