/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */
body {
  background-color: rgb(226, 252, 225);
  font-family: verdana;
  padding: 0.5em;
}
h1 {
  font-weight: bold;
}
button {
  cursor: pointer;
  background-color: rgb(217, 233, 251);
  border: 1px solid gray;
  border-radius: 7px;
  width: 47%;
  height: 3.7em;
  margin: 0.3em;
}
button:hover {
  background-color: rgb(206, 230, 255);
}
ul {
  list-style-type: square;
  margin: 1em;
  margin-top: 0.3em;
}
li {
  width: fit-content;
  display: block;
  cursor: pointer;
}
#skip-button {
  margin-top: 1em;
  width: 97%;
}
.highlight-text {
  text-decoration: underline;
  color: rgb(16, 97, 228);
}
.counter-container {
  display: flex;
  margin-bottom: 1em;
}
.card-container {
  margin-bottom: 2em;
}
.card {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 140, 199);
  padding: 1em;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
#card-header {
  font-size: 1.8em;
  align-self: center;
  margin-bottom: 0.3em;
}
#card-description {
  margin-bottom: 0.3em;
  height: 3em;
}
.choice-buttons-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 75%; */
}
.sorted-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.result-container {
  width: fit-content;
  height: fit-content;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  background-color: rgb(199, 140, 199);
  padding: 1em;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.hidden {
  display: none;
}
